/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.img-responsive {
    width: 100%;
    height: auto;
}
body {
	font-family: 'Lato', sans-serif;
}

/* nav */
nav{
	background-color: #3E3F41;
	color: #fff;
}
.menu {
	background-color: #DDDEE0;
	height: 100vh;
	width: 100%;
}
a.brand-logo{
	font-size: 24px;
	margin-top: 12px;
}
ul#mobile-demo {
    padding-top: 50px;
}

/* mainmenu */
.menupantalla{
	margin-top: 100px;
}
.boton{
	width: 86%;
	margin-bottom: 10px;
	background-color: #F4A728;
}
.boton:hover, .btn-large:hover {
    background-color: #F4A728;
}
i.fa.fa-usd, i.fa.fa-calculator, i.fa.fa-user, i.fa.fa-question, i.fa.fa-long-arrow-right {
	color: #F4A728;
	font-size: 20px;
}
.container{
	width: 100%;
}

/* preguntas frecuentes */
.titulopreguntas{
	background-color: #F4A728;	
	height: 30vh;
	width: 100%;
}
h1.frecuentes{
	color: white;
	padding-top: 67px;
	font-size: 20px;
	font-weight: 700;
}
.boxpreguntas {
    width: 91%;
    margin: 0 auto;
}
.collapsible-body{
	background-color: #fff;
	padding: 1rem;
}
.textointerno{
	line-height: 20px;
	font-size: 14px;
}

/* saldo */
.boxsaldo{
	width: 79%;
    padding-top: 45px;
}
.btncalcular{
	margin-top: 10px;
}
.select-wrapper {
	background-color: #fff;
	border-left: 6px solid white;
    border-right: 6px solid white;
}
.dropdown-content li>a, .dropdown-content li>span{
	color: black;
}
.titulosaldo{
	background-color: black;
	color: #fff;
	width: 100%;
}
.titulosaldo h3{
	font-size: 20px;
	padding: 10px;
}
.montototal p{
	background-color: #F4A728;
	color: #fff;
	font-size: 30px;
	padding: 20px;
}

/* calcular */
.labeltarjeta{
	margin-top: -38px;
	color: black;
}
.input-field label {
    color: black;
}
::placeholder { 
	color: grey; 
}

/* perfil */
div.avatar {
    height: 50px;
    width: 50px;
    background-image: url(../docs/photo.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    margin: 0 auto;
    padding: 78px
}
.cajaavatar{
	padding: 14px;
}
.numbtarj{
	margin-top: 6px;
}
input#email{
    background-color: #fff;
}
label.labelmail{
	margin-left: 24px;
}
.numbtarj{
	margin: 0 auto;
    width: 80%;
}
.inputnumta{
	text-align: center;
    width: 80%;
}
.tarjetasingresadas{
	background-color: #fff;
	width: 50%;
	margin: 0 auto;
	margin-top: 9px;
}

/* index */
section.principal{
	background-color: #3E3F41;
	width: 100%;
	height: 100vh;
}
img.logoindex{
	width: 177px;
	margin-top: 80px;
}
h1.nombreapp{
	font-family: 'Oswald', sans-serif;
	color: #F4A728;
	font-size: 35px;
	margin-top: 10px;
}
input#input-password{
	margin: 0 0 -17px 0;
	background-color: #fff;
	background-image: url(../docs/lock1600.png);
	background-repeat: no-repeat; 
	background-position: 10px 8px;
	text-indent:60px;
}
a.botonsesion{
	width: 91%;
	background-color: #F4A728;
	height: 50px;
	color:#3E3F41;
}
a.botonsesion:hover {
    background-color: #F4A728;
}
input#input-email.validate.emailinicio{
	margin: 0 0 -17px 0;
	background-color: #fff;
	background-image: url(../docs/23228.png);
	background-repeat: no-repeat; 
	background-position: 10px 8px;
	text-indent:60px;
}
a.olvido{
	margin-left: 15px;
	color: white;
}
.footer{
	color: #fff;
	margin-top: 50px;
}
p.sincuenta{
	display: inline-block;
}
a.registro{
	font-family: 'Lato', sans-serif;
	color: #F4A728;
	font-weight: 700;
}
